.first-contents-mainContainer {
  /* background: hsl(231, 26%, 20%); */
}

.first-contents-mainContainer {
  width: inherit;
  height: inherit;
  padding: 22% 10% 10% 15%;
}

.first-contents-mainContainer {
  color: #ffffff;
}

.welcome,
.showUsers {
  /* color: #ffffff29; */
}

.hello {
  margin-bottom: 1%;
  display: flex;
}

.hello-text {
  font-size: 33px;
  opacity: 0.9;
}

.hello-text,
.welcome {
  font-weight: lighter;
}

.welcome {
  font-size: 13px;
  opacity: 0.7;
}

.emerald {
  font-weight: bolder;
  font-size: 25px;
  margin: 5.9px 0px 0px 8px;
}

.subContainer {
  width: 80%;
  margin: 7% 0px 12% 0px;
}

.input {
  display: flex;
  background: #3c3f54;
  border-radius: 25px;
  align-content: center;
  width: 100%;
  height: 80px;
  padding: 2% 0px 1.5% 1.5%;
  overflow: hidden;
  color: #ffffff;
}

/* .input-field {
  outline: none;
  background: inherit;
  width: inherit;
  margin-left: 2%;
} */

.showUsers {
  font-size: 13px;
  font-weight: bold;
  opacity: 0.9;
  margin-bottom: 7%;
}

.first-contents-users-container {
  padding: 0px 30% 0px 0px;
}

.search {
  margin-top: 4.5%;
  margin-left: 2%;
}
