@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

.secondContents-container {
  color: #262a41;
}

.first-section > .al-users {
  font-size: 25px;
  margin-bottom: 1.5%;
  font-weight: bold;
  font-family: "Poppins";
}

.filter {
  font-size: 13px;
  opacity: 0.9;
  margin-bottom: 2%;
}

.fs-filter-contents {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 45px;
}
.find-list {
  width: 250px;
  /* margin-right: 2%; */
}

.find-input {
  width: 100%;
  align-items: center;
}

.country-container {
  width: 25%;
  height: 45px;
  border: none;
  background: #e2e2ea;
  border-radius: 20px;
  padding: 2% 3% 2% 3%;
  align-items: center;
  margin-left: 30px;
}
.country-container,
.toggle-on {
  font-size: 13px;
  text-align: center;
  display: flex;
  /* justify-content: space-between; */
}
.country-container > .down {
  font-size: 18px;
  margin-top: -4%;
}

.country,
.down,
.on,
.show-country {
  width: 100%;
  height: 100%;
}

.show-country {
  /* margin-left: 6px; */
}
.country,
.show-country {
  font-weight: bold;
  opacity: 0.7;
  margin-top: 6%;
  width: 100%;
}

.toggle-on {
  width: 40%;
  padding: 5px 0px 0px 0px;
  align-items: center;
}

.on {
  color: #30bbb5;
  font-size: 28px;
  margin-top: 2%;
  margin-right: -20%;
}

.first-section {
  padding: 5% 12% 0px 12%;
}

.find-input {
  display: flex;
  background: #e2e2ea;
  border-radius: 25px;
  align-content: center;
  width: 100%;
  height: 100%;
  padding: 3% 0px 3% 1.5%;
  overflow: hidden;
  color: #ffffff;
}

.search-tog {
  margin-left: 2%;
}

.secondContents-container > .second-section {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  /* margin-top: 3%; */
  padding: 3% 0px 0px 11%;
  background: transparent;
}

.second-section > .down-load {
  width: 180px;
  height: 35px;
  display: flex;
  align-items: center;
  background: #7946c1;
  color: #ffffff;
  padding: 1% 2px 1% 2%;
  border: none;
  border-radius: 15px;
  text-align: center;
}

.down-load,
.direction {
  /* flex: 1; */
}

.down-load > h4 {
  font-size: 12px;
  margin-left: 2%;
  width: 100%;
}

.downLoad-icon {
  color: #ffffff;
  font-size: 30px;
}

.left-arrow,
.right-arrow {
  width: 100%;
  height: 35px;
  border-radius: 7px;
  outline: none;
  border: none;
  margin-right: 10%;
  margin-top: -2%;

  padding-top: 3%;
}

.direction {
  display: flex;
  width: 13%;
  margin-left: 52%;
}

.left-arrow {
  background: #e2e2ea;
  color: #262a41;
}
.right-arrow {
  background: #262a41;
  color: #ffffff;
}
