.users-card-container {
  width: 100%;
  box-shadow: 10px 10px 40px #0000000d;
  border-radius: 18px;
  background: #fcfcff;
  margin-top: 5%;
  padding: 3% 1% 3% 4%;
  height: 140px;
  margin-bottom: 2%;
}

.user-details {
  width: inherit;
  margin-top: 1%;
}

.picture-avatar {
  border: solid 3px #30bbb5;
}

.profile-picture > .MuiAvatar-root {
  width: 70px;
  height: 70px;
}

.profile-picture {
  margin: 2% 3% 0px 0px;
}

.users-card-container,
.contacts,
.e-address,
.cell {
  display: flex;
}

.contacts {
  justify-content: space-between;
  width: inherit;
}

.title {
  font-weight: bold;
}

.title,
.address {
  font-weight: bold;
  margin-bottom: 2%;
}

.e-address,
.cell {
  width: 100%;
}

.email,
.cell-number {
  width: 100%;
  font-size: 13px;
}

.address {
  font-weight: 300;
}

.contacts {
  color: #babdd1;
  width: inherit;
}

.contact-icon-email {
  margin-right: 1%;
  width: 30px;
}

.e-address {
  margin-right: 2%;
}

.contact-icons-cell {
  margin-right: 2%;
}

.contact-icon-email,
.contact-icons-cell {
  font-size: 20px;
}

.arrow-icon {
  width: 15%;
  height: 35px;
  border-radius: 7px;
  outline: none;
  border: none;
  background: #30bbb5;
  box-shadow: 2px 15px 30px #30bbb574;
  margin-right: 5%;
  margin-top: -2%;
  color: #ffffff;
}
